body {
    font-family: sans-serif;
    background-color: lightgrey;
    color: white;
    font-size: 18px;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    
}

#navigation ul{
    text-align:right;
    margin:10px;
}

#navigation li{
    display:inline-block;
    margin-left:20px;
}

.link a:hover{
    color:red;
}

.container{
    padding: 40px 40px;
    margin: 60px 20px;
    color:white;
    font-weight: bold;
    max-width: 800px;
    font-size: 200%;
}

.heading{
    color: red;
    text-align:center;
}
